.game-cards-container {
    display: grid;
    margin-top: 10px;
    font-size: 0;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 20px 22px;
    justify-content: center;
    padding: 0 25px;
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  /* Style the Card components inside the container */

  .project-link{
    border: 5px solid #000;
    border-radius: 21px;
  }

  .project-link:hover{
    transform: scale(0.98);
    transition: 0.2s ease-in;
  }

  .home{
    width: 100vw;
    height: 100vh;
  }

  #root{
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    padding: 0;
  }

  .header-message{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .welcome-logo{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
  }