.tic-tac-toe {
    margin: 0 15%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    justify-content: space-around;
    ;
  }
  

  

  .gameboard {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
  
  .square {
    width: calc(33.3333333%); /* Adjust the width with the necessary gap */
    height: calc(33.3333333% ); /* Adjust the height with the necessary gap */
    border: solid 4px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .circle{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 30px solid blue;
    box-sizing: border-box;
  }
  
  .circle-sm{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: 50%;
    border: 4px solid blue;
    box-sizing: border-box;
  }

  .cross{
    width: 180px;
    height: 180px;
    position: relative;
    rotate: 45deg;
  }
  
  .cross-sm{
    width: 30px;
    height: 30px;
    position: relative;
    rotate: 45deg;
    margin-top: 10px;
  }

  .cross-sm:before, .cross-sm:after{
    content: "";
    position: absolute;
    background-color: red;
   }

   .cross-sm:before{
    left: 50%;
    width: 30%;
    margin-left: -15% ;
    height: 100%;
   }

    .cross-sm:after{
      top: 50%;
      height: 30%;
      margin-top: -15%;
      margin-left: -50%;
      width: 100%;
      }
 


  .cross:before, .cross:after{
    content: "";
    position: absolute;
    background-color: red;
  }

  .cross:before{
   left: 50%;
   width: 30%;
   margin-left: -15% ;
   height: 100%;
  }

  .cross:after{
   top: 50%;
    height: 30%;
    margin-top: -15%;
    margin-left: -50%;
    width: 100%;
   }

   .reset-container{
        display: flex;
        width: 600px;
        justify-content: end;
        align-items: center;
        margin-top: 20px;
        gap: 5px;
        
   }

   .reset-container div{
    font-size: 1.5rem;
    cursor: pointer;
    
   }

   .reset-container p{
    margin-bottom: 6px;
    font-size: 1.6rem;
    cursor: pointer;
   }

   .cross-color{
        color: red;
        font-weight: 600;
   }

   .circle-color{
        color: blue;
        font-weight: 600;
   }

   /* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Higher z-index to appear over other content */
  animation: fadeIn 0.3s ease; /* Fade in animation */
}

/* Modal */
.custom-modal {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Higher z-index to appear over the overlay */
  animation: slideUp 0.3s ease; /* Slide up animation */
  width: 400px !important;
  height: 200px !important;
  padding: 30px !important;
}

/* Modal Buttons */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin: 20px 70px 0 70px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1400px){
  .container-xxl{
    max-width: 2000px;
    margin-left: 40px;
  }
}

.navbar-logo{
  font-size: 2rem;
  font-weight: 600;
  ;
}

@media (max-width: 1800px){
  .tic-tac-toe{
    gap:200px
  }
}

@media (max-width: 1600px){
  .tic-tac-toe{
    gap:150px
  }
}

@media (max-width: 1400px){
  .tic-tac-toe{
    gap:100px
  }
}

@media (max-width: 1200px){
  .tic-tac-toe{
    flex-direction: column;
    gap: 150px;
  }


  .circle{
    width: 120px;
    height: 120px;
    border: solid 20px blue;
  }

  .cross{
    width: 120px;
    height: 120px;
  }

  .cross:after{
   height:25%;
   margin-top: -12%;
  }

  .cross:before{
    width: 25%;
    margin-left: -12%;
  }


  .gameboard{
    width: 400px;
    height: 400px;
    margin-bottom: 25px;
  }

  .reset-container{
    max-width: 400px;
  }

  .highscore-container{
    margin-bottom: 150px;
  }
}

@media (max-width: 500px){
  .tic-tac-toe{
    gap: 50px;
  }

  .circle{
    width: 120px;
    height: 120px;
    border: solid 20px blue;
  }

  .cross

  .gameboard{
    width: 300px;
    height: 300px;
  }

  .reset-container{
    max-width: 300px;
  }

  .highscore-container{
    margin-bottom: 150px;
  }
}

@media (max-width: 430px){
  .custom-modal{
    width: 300px !important;
    height: 200px !important;
    padding: 20px !important;
  }

  .modal-buttons{
    margin: 20px 50px 0 50px;
  }
}

@media (max-height: 850px){
  .tic-tac-toe{
    height: 100vh;
  }

 
  .gameboard{
    margin-left: 10px;
  }
}

@media (max-height: 900px){
  .tic-tac-toe{
    height: 100vh;
  }

  .content-container{
    margin-top: 50px;
}

  .gameboard{
    margin-left: 10px;
    width: 300px;
    height: 300px;
  }

  .reset-container{
    max-width: 300px;
  }

  .highscore-container{
    margin-bottom: 150px;
  }

  .circle{
    width: 90px;
    height: 90px;
    border: solid 20px blue;
  }

  .cross{
    width: 90px;
    height: 90px;
  }
}